version: "3.7"
# [v2 and v3 Declaration](https://docs.docker.com/compose/compose-file/compose-versioning/)
# Note: When specifying the Compose file version to use, make sure to specify both the major and minor numbers.
# If no minor version is given, 0 is used by default and not the latest minor version.

services:
  dev_env:
    build:
      context: "../"
      dockerfile: "./docker/go/Dockerfile"
    environment:
      APP_NAME: "Learn Go With Test"
    networks:
      net: null
    ports:
      - "8000:8000"
      - "40000:40000"
    volumes:
      - "~/.ssh/:/root/.ssh/"
      - "~/.gitconfig:/root/.gitconfig"
      - "../:/go/src/learn-go-with-test/"
      - "go_bin:/root/go/bin/"
      - "go_cache:/root/.cache/go-build"
      - "go_root_bin:/usr/local/go/bin/"
      - "go_root_src:/usr/local/go/src/"
    working_dir: "/go/src/learn-go-with-test"

networks:
  net: null

volumes:
  go_bin: null
  go_cache: null
  go_root_bin: null
  go_root_src: null
